.blog_bg{position: relative;top:-25px; display: table;height:200px;background: url("../img/gris.jpg");width: 100%;background-size: 100% 100%;}
.blog_titulo{text-align: center;vertical-align: middle;display: table-cell;color: white;position: relative;font-size: 50px;font-family: "Times New Roman", Times, serif;}
img.izquierda {float: left;position: relative;left: 35%;top: 20px;}
img.derecha {float: right;position: relative;right: 35%;top: 20px;}
#botonSend{border-radius: 5px !important;}