#banner{
	max-height: 250px;
	max-width: 1970px;
	width: 100%;
	background: #7d8587;
}

.fechapost{
	background: #fea100;
}
.fechapost>div{
	margin: 3px;
	border: 1px solid white;
	color: white;
	padding: 5px 15px;
}
.fechapost>div>strong{
	font-size: 25px;
}
.fechapost>div>p{
	margin-top: -20px;
	font-size: 12px;
	font-weight: bold;
}

#contimagen{
	height: 340px;
	width: 590px;
}

.botonview{
	background: #ffeac5; 
	border: 0; 
	color: #e48800;
	margin-top: 40px;
	border-radius: 5px !important;
}
.botonview:hover{
	background: #ffb738; 
	color: #000;
}

#pagination{
	background: #ffffff; 
	width: 100%; 
	margin-top: 0%;
}

#next{
	background: orange; 
	color: #ffffff;
}

#pagnum{
	color: black;
}

#prev{
	background: #ffeac5; 
	color: #fea100;
}

#openingcont{
	background: #edf1f3; 
	width: 100%; 
	margin-top: 0%;
}

#alingopen{
	text-align: right;
}

#alingleft{
	text-align: left;
}
#alingcenter{
	text-align: center;
}
#hora{
	color: orange;
}
.blog_bg{position: relative;top:-25px; display: table;height:200px;background: url("../img/banner.png");width: 100%;background-size: 100% 100%;}
.blog_titulo{text-align: center;vertical-align: middle;display: table-cell;color: white;position: relative;font-size: 50px;font-family: "Times New Roman", Times, serif;}
img.izquierda {float: left;position: relative;left: 44%;top: 20px;}
img.derecha {float: right;position: relative;right: 44%;top: 20px;}
.imgn{
	width: 100%;
	height: 100%;
}
.dateDe{
	position: relative;top: -18px;
}
#eventhead{
	font-weight: bold;
	font-size: 30px;
}
#eventcontent{
	margin-top: -25px;
}
.eventContainer{
	margin-bottom: 80px;
}

.pager{
	margin-top: -30px;
	margin-bottom: 60px;
}
.prev-next{
	border: none;
	border-radius: 200px !important;
	padding: 8px 20px;
	text-transform: uppercase;
	font-size: 10px;
	background-color: #ffeac5;
	margin-right: 5px; 
	color: #fea100;
}
.prev-next>span{
	font-weight: bold;
}
.prev-next:hover{
	background: #fea100;
	color: white;
}
.midle{
	background: white;
	color: #000;
	border: 1px solid #e3e3e3;
}
.midle:hover{
	background: #f3f3f3;
	color: #000;
}
.opening{
	background: #edf1f3;
}