.blog_bg{position: relative;top:-25px; display: table;height:200px;background: url("../img/imgHeaderBlogDetail4.jpg");width: 100%;background-size: 100% 100%;}
.blog_titulo{text-align: center;vertical-align: middle;display: table-cell;color: white;position: relative;font-size: 50px;font-family: "Times New Roman", Times, serif;}
img.izquierda {float: left;position: relative;left: 35%;top: 20px;}
img.derecha {float: right;position: relative;right: 35%;top: 20px;}
.inp{
	border:none;
	background: transparent;
	border-bottom: 2px solid #e3e3e3;
	width: 100%;
	padding-left: 30px;
	padding-bottom: 5px;
}
.inp:focus{
    border-color: #3fa1f5;
}
textarea:focus{
	border-color: #3fa1f5;
}
.img-icon,.icon-textarea{
	position: relative;
	top: -30px;
	width: 20px;
	height: 20px;
	left: 0px;
}
textarea{
	width: 95.5%;
	border: none;
	border-bottom: 2px solid #e3e3e3;
	padding-left: 25px;
	margin-left: 20px;
	height: 100px;
}
.icon-textarea{
	top: -105px;
	left: 15px;
}
.make{
	background: #fea100;
	border: none;
	border-radius: 5px !important;
	color: white;
	font-weight: bold;
	padding: 10px 30px;
}
.circles{
	margin-top: 50px;
	background-image: url("../img/backgroundOurCooks.png");
}
.img-reserv>img{
	width: 100%;
	height: 150px;
}

.reserv{
	background-color: #fe4c8d;
	color: white;
	height: 340px;
	margin-bottom: 80px;
	padding-top: 55px;
}
.reserv>p{
	margin-bottom: -15px;
}
.first{
	margin-top: 0px;
	font-weight: bold;
}
.reserv>p:not(.first){
	margin-bottom: 30px;
}
.div-reserv{
	background: white;
	margin-bottom: 80px;
	padding: 15px;
}