
.header img{position: relative;top:-25px; display: table;height:200px; background: url("../img/detalles.jpg");width: 100%;background-size: 100% 100%;}
h1 {text-align: center;font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
    font-size: 30px;font-style: normal;font-variant: normal;font-weight: 500;line-height: 26.4px;
    font: bold 30px;color: white;}
h4{text-align: center;font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 20px;font-style: normal;font-variant: normal;font-weight: 500;line-height: 15.4px;}
h2{padding-left: 55px;}
label{text-align: center;font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 20px;font-style: normal;font-variant: normal;font-weight: 500;line-height: 15.4px;}
.ingredients{padding-left: 300px; padding-bottom: 30px;}
.prueba{background-color: gray; width:100px; margin-left:-200px; height:100px; margin-top:-150px;
		border:10px solid #808080; padding:5px;}
.recipie{text-align: center; padding: 20px;}
.openingHours{margin-top: 4%; font-weight: bold;}
.openingHours h3{width: 30%; display: inline; margin-right: 200px; font-size: 25px; color: black;}
.openingHours p{width: 30%; display: inline-block; color: #fea100; font-size: 20px;}
.openingHours small{display: inline-block; color: gray;}
.Nutrition{background-color: #F9F8F2; border-radius: 5px;}
.Ingredientes{text-align: center;width: 50%;}
#name{padding-bottom: 10px;}
#ingredientes{ font-family: Verdana; font-size: 20px;}
.back{background-color: #EAEEEE;}
.col-centrada{float: none; margin-left: auto; margin-right: auto;}
.contenedor{position: relative; display: inline-block; text-align: center;}
.texto{text-align: center;font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
font-size: 30px;font-style: normal;font-variant: normal;font-weight: 500;line-height: 15.4px;
color: white;position: absolute; top: 45px; left: 300px;}
.cuadros{ width: 50px; height: 50px; background-color: #D87D23; font-size: 20px; color: white; position: absolute; 
top: 70px; left: 300px;}
.texto-cuadros{text-align: center;font-family: Verdana;
color: white;position: absolute; top: 90px; left: 380px; color: white;}
.borde{border-radius: 5px !important;}
.ImgPrincipal>img{width: 100%;height: 400px;}
.datosImagen{ background-color: #FFF;position: relative;top: -38px;box-shadow: 0px 0px 30px #9E9E9E;height: 72px;}
.datosImagen>div{padding: 8px;border-right: 1px solid #e3e3e3;}
.datosImagen>div>p{font-size: 11px;}
.datosImagen>div>p::first-line{font-weight: bold;font-size: 15px;}
.download{border-right: none !important;}
.download>img{float: left;}
.download>p{float: left;}
.dateDe{padding-right: 45px;}
.MenuOptions{width: 100%; }
.option{display: inline-block;  margin-right: 5%;}
.option:hover{cursor: pointer;}
.FoodOptions{width: 100%; margin-top: 10px;}
.container-menu{width: 80%; margin-left: auto; margin-right: auto; box-shadow: 10px 10px grey;}
.menu-gallery{margin: 10px;border: 1px solid #ccc;display:inline-block; width: 370px; height: 223px; background-color: white; margin-bottom: 200px;}
.menu-gallery img {width: 100%;height: 100%;}
.menu-desc {border: 1px solid #ccc; background: white;
	margin-bottom: 80px;
	padding: 15px;}
.menu-desc>img{width: 60px; height: 20px}
.menu-desc>p{padding-left: 10px; padding-bottom: 10px;}
.costFood {width: 30%; display: inline-block; color: #fea100; font-size: 20px;}
.div-reserv{
	background: white;
	margin-bottom: 80px;
	padding: 15px;
}

.blog_bg{position: relative;top:-25px; display: table;height:200px;background: url("../img/detalles.jpg");width: 100%;background-size: 100% 100%;}
.blog_titulo{text-align: center;vertical-align: middle;display: table-cell;color: white;position: relative;font-size: 50px;font-family: "Times New Roman", Times, serif;}
img.izquierda {float: left;position: relative;left: 35%;top: 10px;}
img.derecha {float: right;position: relative;right: 35%;top: 10px;}