.header{max-height: 250px;max-width: 1970px;width: 100%;}
.header img{max-height: 250px;max-width: 1970px;height: 100%;width: 100%;}
.ourHistory{text-align: center;width: 50%;}
.ourHotel{max-width: 969px;max-height: 446px;width: 60%;height: 50%;}
.ourHotel video{max-width: 969px;max-height: 446px;width: 100%;height: 100%;}
.ourHotel p{float: left;font-weight: bold; }
.ourCooks{background-image: url("../img/backgroundOurCooks.png");margin-top: 10%; width: 100%; text-align: center; margin-left: auto; margin-right: auto;}
.ourCooks h3{font-weight: bold;}
 hr{width:100%;}
.container-gallery{width: 80%; margin-left: auto; margin-right: auto;}
.ourCooks-gallery{margin: 10px;border: 1px solid #ccc;display:inline-block; width: 180px; background-color: white; }
.ourCooks-gallery img {width: 100%;height: 100%;}
.ourCooks-desc {padding: 15px;text-align: center;}
.speciality{width: 100%; display: inline-block;}
.grey{background-color: #ecf1f4;}
.imgSpeciality{float: left; width: 40%; margin-right: 0px;}
.imgSpeciality img{ width: 100%; }
.textSpeciality{float: left; width: 40%; margin-left: 0px;}
.textSpeciality h3,p{ padding-top: 10px;}
.textSpeciality p{color: grey;}
.pointSpeciality{color:black!important; }
.titleSpeciality{font-weight: bold; color: black;}
.pointSpeciality{font-weight: bold;}
.openingHours{margin-top: 4%; font-weight: bold;}
.openingHours h3{width: 30%; display: inline; margin-right: 200px; font-size: 25px; color: black;}
.openingHours p{width: 30%; display: inline-block; color: #fea100; font-size: 20px;}
.openingHours small{display: inline-block; color: gray;}
 hr{padding-top: 0px;padding-top: 0px;margin: 0px;}
 .carousel-inner{margin-bottom: 10px; padding-bottom: 5%;}
.carousel-indicators{bottom: 10px;} 
.carousel-indicators li{background-color: grey;}
.carousel-indicators .active{background-color: #fea100;}